# directories
.yarn/
**/artifacts
**/build
**/cache
**/coverage
**/dist
**/docs
**/lib
**/node_modules
**/src/types

# files
*.env
*.log
*.tsbuildinfo
.pnp.*
.solcover.js
coverage.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
