# folders
.coverage_artifacts/
.coverage_cache/
.coverage_contracts/
bin/
build/
cache/
coverage/
crytic-export/
dist/
lib/
node_modules/
typechain/
/artifacts/

# files
*.env
*.log
*.tsbuildinfo
coverage.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
