# folders
.coverage_artifacts/
.coverage_cache/
.coverage_contracts/
.yarn/
artifacts/
bin/
build/
cache/
coverage/
crytic-export/
dist/
lib/
node_modules/
typechain/

# files
LICENSE.md
coverage.json
