name: "Deploy: HifiPool"

env:
  ETHERSCAN_API_KEY: ${{ secrets.ETHERSCAN_API_KEY }}
  INFURA_API_KEY: ${{ secrets.INFURA_API_KEY }}
  MNEMONIC: ${{ secrets.MNEMONIC }}

on:
  workflow_dispatch:
    inputs:
      chain:
        description: "Chain name in lowercase"
        required: true
      confirmations:
        default: "2"
        description: "Number of block confirmations to wait before attempting verification"
        required: false
      h-token:
        description: "Address of the hToken contract"
        required: true
      hifi-pool-registry:
        description: "Address of the HifiPoolRegistry contract"
        required: true
      name:
        description: "ERC-20 name of the pool"
        required: true
      ref:
        default: "main"
        description: "Git ref to checkout"
        required: false
      symbol:
        description: "ERC-20 symbol of the pool"
        required: true

jobs:
  deploy-and-verify:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Check out the repo"
        uses: "actions/checkout@v2"
        with:
          ref: ${{ github.event.inputs.ref }}

      - name: "Setup Node.js"
        uses: "actions/setup-node@v2"
        with:
          cache: "yarn"
          node-version: "16"

      - name: "Install dependencies"
        run: "yarn install --immutable"

      - name: "Build packages"
        run: "yarn build"

      - name: "Deploy HifiPool"
        id: "deploy"
        run: >-
          yarn workspace @hifi/tasks hardhat
          deploy:contract:hifi-pool --network "${{ github.event.inputs.chain }}"
          --h-token "${{ github.event.inputs.h-token }}"
          --hifi-pool-registry "${{ github.event.inputs.hifi-pool-registry }}"
          --name "${{ github.event.inputs.name }}"
          --symbol "${{ github.event.inputs.symbol }}"

      - name: "Verify HifiPool"
        run: >-
          yarn workspace @hifi/amm hardhat
          verify "${{ steps.deploy.outputs.hifi-pool }}" --network "${{ github.event.inputs.chain }}"
          "${{ github.event.inputs.name }}"
          "${{ github.event.inputs.symbol }}"
          "${{ github.event.inputs.h-token }}"
