name: "Deploy: HToken"

env:
  ETHERSCAN_API_KEY: ${{ secrets.ETHERSCAN_API_KEY }}
  INFURA_API_KEY: ${{ secrets.INFURA_API_KEY }}
  MNEMONIC: ${{ secrets.MNEMONIC }}

on:
  workflow_dispatch:
    inputs:
      balance-sheet:
        description: "Address of the BalanceSheet contract"
        required: true
      chain:
        description: "Chain name in lowercase"
        required: true
      confirmations:
        default: "2"
        description: "Number of block confirmations to wait before attempting verification"
        required: false
      maturity:
        description: "Unix timestamp for when the hToken matures"
        required: true
      name:
        description: "ERC-20 name of the hToken"
        required: true
      ref:
        default: "main"
        description: "Git ref to checkout"
        required: false
      symbol:
        description: "ERC-20 symbol of the hToken"
        required: true
      underlying:
        description: "Address of the underlying ERC-20 contract"
        required: true

jobs:
  deploy-and-verify:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Check out the repo"
        uses: "actions/checkout@v2"
        with:
          ref: ${{ github.event.inputs.ref }}

      - name: "Setup Node.js"
        uses: "actions/setup-node@v2"
        with:
          cache: "yarn"
          node-version: "16"

      - name: "Install the dependencies"
        run: "yarn install --immutable"

      - name: "Build the TypeScript packages"
        run: "yarn build:ts"

      - name: "Compile the contracts and generate TypeChain bindings"
        run: "yarn typechain"

      - name: "Deploy HToken"
        id: "deploy"
        run: >-
          yarn workspace @hifi/tasks hardhat
          deploy:contract:h-token --network "${{ github.event.inputs.chain }}"
          --balance-sheet "${{ github.event.inputs.balance-sheet }}"
          --maturity "${{ github.event.inputs.maturity }}"
          --name "${{ github.event.inputs.name }}"
          --symbol "${{ github.event.inputs.symbol }}"
          --underlying "${{ github.event.inputs.underlying }}"
          --confirmations "${{ github.event.inputs.confirmations }}"
          --set-output true

      - name: "Verify HToken"
        run: >-
          yarn workspace @hifi/protocol hardhat
          verify "${{ steps.deploy.outputs.h-token }}" --network "${{ github.event.inputs.chain }}"
          "${{ github.event.inputs.name }}"
          "${{ github.event.inputs.symbol }}"
          "${{ github.event.inputs.maturity }}"
          "${{ github.event.inputs.balance-sheet }}"
          "${{ github.event.inputs.underlying }}"
